.staff {
    height: 100%;
    overflow-y: auto;
    margin: 72px 0 0 12px;
    padding: 15px 15px 100px 15px;
    background-color: #fff;
}

.not-staff {
    color: darkgrey;
}

.chart {
    border: 1px solid #d8dbe0;
    border-radius: 3px;
}

.descriotion {
    border-top: 1px solid #d8dbe0;
    padding: 10px 20px;
    font-size: 12px;
}

.select-language {
    max-width: 130px;
    font-size: 12px;
    margin: 10px;
}

.search {
    max-width: 200px;
    color: gray;
}

.search-icon {
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
}

.search-text {
    width: 50px;
    font-size: 12px;
}

.table-heading {
    background-color: #d8dbe0 !important;
}

.btn-add-staff {
    font-weight: 500;
    max-height: 38px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.disable {
    opacity: 0.6;
}

.table-box {
    margin-top: 15px;
    max-height: 400px;
    overflow: auto;
    box-shadow: 0 0 2px #282323d1;
}

.table-box::-webkit-scrollbar {
    display: none;
}

.table {
    box-shadow: 0 0 2px #282323d1;
}

.table-item:nth-last-child(odd) {
    background-color: #f5f5f0;
}

.table-title , .table-content {
    padding: 12px 8px;
    display: flex;
    align-items: center;
}

.table-content {
    max-height: 45px;
}

.action {
    border-left: 1px solid #7a808980;
    padding: 15px;
    justify-content: center;
}

.avatar {
    max-width: 120px;
    height: 120px;
    margin-bottom: 20px;
}

.staff-detail {
    border-top: 1px solid #6c757d73;
}

.modal-add-staff {
    padding: 5px 20px;
}

.avatar-staff {
    max-width: 20px;
    max-height: 20px;
    //border-radius: 2px;
}

.avatar-staff img {
    border-radius: 5px;
}